--
-- PostgreSQL database dump
--

\restrict XwPhWkZ4xGMfboEmpPhq3h7ByqybxQSdcOEvEmMFRNesYA1oqOMrEvGEEG1fCN4

-- Dumped from database version 16.15 (Debian 16.15-1.pgdg13+2)
-- Dumped by pg_dump version 16.15 (Debian 16.15-1.pgdg13+2)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: daily_tasks; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.daily_tasks (
    id bigint NOT NULL,
    created_at timestamp(6) without time zone NOT NULL,
    updated_at timestamp(6) without time zone NOT NULL,
    category character varying(255) NOT NULL,
    completed_at timestamp(6) without time zone,
    description text,
    due_date date,
    priority character varying(255) NOT NULL,
    status character varying(255) NOT NULL,
    title character varying(255) NOT NULL,
    user_id bigint NOT NULL,
    CONSTRAINT daily_tasks_category_check CHECK (((category)::text = ANY ((ARRAY['DSA'::character varying, 'LEARNING'::character varying, 'PROJECT'::character varying, 'JOB'::character varying, 'PERSONAL'::character varying])::text[]))),
    CONSTRAINT daily_tasks_priority_check CHECK (((priority)::text = ANY ((ARRAY['LOW'::character varying, 'MEDIUM'::character varying, 'HIGH'::character varying])::text[]))),
    CONSTRAINT daily_tasks_status_check CHECK (((status)::text = ANY ((ARRAY['TODO'::character varying, 'IN_PROGRESS'::character varying, 'COMPLETED'::character varying])::text[])))
);


ALTER TABLE public.daily_tasks OWNER TO postgres;

--
-- Name: daily_tasks_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.daily_tasks ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.daily_tasks_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: dsa_problems; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.dsa_problems (
    id bigint NOT NULL,
    created_at timestamp(6) without time zone NOT NULL,
    updated_at timestamp(6) without time zone NOT NULL,
    date_solved date,
    difficulty character varying(255) NOT NULL,
    notes text,
    platform character varying(255),
    problem_url character varying(255),
    revision_date date,
    status character varying(255) NOT NULL,
    time_taken integer,
    title character varying(255) NOT NULL,
    topic character varying(255),
    user_id bigint NOT NULL,
    CONSTRAINT dsa_problems_difficulty_check CHECK (((difficulty)::text = ANY ((ARRAY['EASY'::character varying, 'MEDIUM'::character varying, 'HARD'::character varying])::text[]))),
    CONSTRAINT dsa_problems_status_check CHECK (((status)::text = ANY ((ARRAY['TODO'::character varying, 'SOLVED'::character varying, 'REVISION'::character varying, 'MASTERED'::character varying])::text[])))
);


ALTER TABLE public.dsa_problems OWNER TO postgres;

--
-- Name: dsa_problems_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.dsa_problems ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.dsa_problems_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: interview_rounds; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.interview_rounds (
    id bigint NOT NULL,
    feedback text,
    notes text,
    round_number integer,
    round_type character varying(255),
    scheduled_at timestamp(6) without time zone,
    status character varying(255) NOT NULL,
    job_application_id bigint NOT NULL,
    CONSTRAINT interview_rounds_status_check CHECK (((status)::text = ANY ((ARRAY['SCHEDULED'::character varying, 'COMPLETED'::character varying, 'CANCELLED'::character varying, 'RESCHEDULED'::character varying])::text[])))
);


ALTER TABLE public.interview_rounds OWNER TO postgres;

--
-- Name: interview_rounds_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.interview_rounds ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.interview_rounds_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: job_applications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.job_applications (
    id bigint NOT NULL,
    created_at timestamp(6) without time zone NOT NULL,
    updated_at timestamp(6) without time zone NOT NULL,
    application_date date,
    company character varying(255) NOT NULL,
    job_url character varying(255),
    location character varying(255),
    notes text,
    role character varying(255) NOT NULL,
    salary character varying(255),
    source character varying(255),
    status character varying(255) NOT NULL,
    user_id bigint NOT NULL,
    CONSTRAINT job_applications_status_check CHECK (((status)::text = ANY ((ARRAY['SAVED'::character varying, 'APPLIED'::character varying, 'SCREENING'::character varying, 'INTERVIEW'::character varying, 'OFFER'::character varying, 'REJECTED'::character varying, 'WITHDRAWN'::character varying])::text[])))
);


ALTER TABLE public.job_applications OWNER TO postgres;

--
-- Name: job_applications_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.job_applications ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.job_applications_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: learning_topics; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.learning_topics (
    id bigint NOT NULL,
    created_at timestamp(6) without time zone NOT NULL,
    updated_at timestamp(6) without time zone NOT NULL,
    hours_spent double precision,
    notes text,
    progress integer NOT NULL,
    resource_url character varying(255),
    status character varying(255) NOT NULL,
    technology character varying(255) NOT NULL,
    topic character varying(255) NOT NULL,
    user_id bigint NOT NULL,
    CONSTRAINT learning_topics_status_check CHECK (((status)::text = ANY ((ARRAY['NOT_STARTED'::character varying, 'IN_PROGRESS'::character varying, 'COMPLETED'::character varying, 'ON_HOLD'::character varying])::text[])))
);


ALTER TABLE public.learning_topics OWNER TO postgres;

--
-- Name: learning_topics_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.learning_topics ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.learning_topics_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: project_tasks; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.project_tasks (
    id bigint NOT NULL,
    created_at timestamp(6) without time zone NOT NULL,
    updated_at timestamp(6) without time zone NOT NULL,
    description text,
    due_date date,
    priority character varying(255),
    status character varying(255) NOT NULL,
    title character varying(255) NOT NULL,
    project_id bigint NOT NULL,
    CONSTRAINT project_tasks_priority_check CHECK (((priority)::text = ANY ((ARRAY['LOW'::character varying, 'MEDIUM'::character varying, 'HIGH'::character varying])::text[]))),
    CONSTRAINT project_tasks_status_check CHECK (((status)::text = ANY ((ARRAY['TODO'::character varying, 'IN_PROGRESS'::character varying, 'DONE'::character varying])::text[])))
);


ALTER TABLE public.project_tasks OWNER TO postgres;

--
-- Name: project_tasks_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.project_tasks ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.project_tasks_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: projects; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.projects (
    id bigint NOT NULL,
    created_at timestamp(6) without time zone NOT NULL,
    updated_at timestamp(6) without time zone NOT NULL,
    description text,
    end_date date,
    github_url character varying(255),
    live_url character varying(255),
    name character varying(255) NOT NULL,
    start_date date,
    status character varying(255) NOT NULL,
    user_id bigint NOT NULL,
    CONSTRAINT projects_status_check CHECK (((status)::text = ANY ((ARRAY['PLANNING'::character varying, 'IN_PROGRESS'::character varying, 'COMPLETED'::character varying, 'ON_HOLD'::character varying, 'ARCHIVED'::character varying])::text[])))
);


ALTER TABLE public.projects OWNER TO postgres;

--
-- Name: projects_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.projects ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.projects_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id bigint NOT NULL,
    created_at timestamp(6) without time zone NOT NULL,
    updated_at timestamp(6) without time zone NOT NULL,
    email character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    password character varying(255) NOT NULL
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.users ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: daily_tasks daily_tasks_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.daily_tasks
    ADD CONSTRAINT daily_tasks_pkey PRIMARY KEY (id);


--
-- Name: dsa_problems dsa_problems_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dsa_problems
    ADD CONSTRAINT dsa_problems_pkey PRIMARY KEY (id);


--
-- Name: interview_rounds interview_rounds_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.interview_rounds
    ADD CONSTRAINT interview_rounds_pkey PRIMARY KEY (id);


--
-- Name: job_applications job_applications_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.job_applications
    ADD CONSTRAINT job_applications_pkey PRIMARY KEY (id);


--
-- Name: learning_topics learning_topics_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.learning_topics
    ADD CONSTRAINT learning_topics_pkey PRIMARY KEY (id);


--
-- Name: project_tasks project_tasks_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.project_tasks
    ADD CONSTRAINT project_tasks_pkey PRIMARY KEY (id);


--
-- Name: projects projects_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT projects_pkey PRIMARY KEY (id);


--
-- Name: users uk6dotkott2kjsp8vw4d0m25fb7; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT uk6dotkott2kjsp8vw4d0m25fb7 UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: interview_rounds fka4wgvdx5pvh2eruy81m9q6not; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.interview_rounds
    ADD CONSTRAINT fka4wgvdx5pvh2eruy81m9q6not FOREIGN KEY (job_application_id) REFERENCES public.job_applications(id);


--
-- Name: learning_topics fkdq7t6fwncgn9bomj7vgyims0p; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.learning_topics
    ADD CONSTRAINT fkdq7t6fwncgn9bomj7vgyims0p FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: projects fkhswfwa3ga88vxv1pmboss6jhm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT fkhswfwa3ga88vxv1pmboss6jhm FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: project_tasks fkhsx8wvsrs7t8x9hq10jncbisx; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.project_tasks
    ADD CONSTRAINT fkhsx8wvsrs7t8x9hq10jncbisx FOREIGN KEY (project_id) REFERENCES public.projects(id);


--
-- Name: daily_tasks fkpad2mmxp7wp7pta905qjdjs2b; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.daily_tasks
    ADD CONSTRAINT fkpad2mmxp7wp7pta905qjdjs2b FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: dsa_problems fkq0yafa5sv2hrsulnj2b5ikhfh; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dsa_problems
    ADD CONSTRAINT fkq0yafa5sv2hrsulnj2b5ikhfh FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: job_applications fkqs2guhg7p83917vto86imuthy; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.job_applications
    ADD CONSTRAINT fkqs2guhg7p83917vto86imuthy FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- PostgreSQL database dump complete
--

\unrestrict XwPhWkZ4xGMfboEmpPhq3h7ByqybxQSdcOEvEmMFRNesYA1oqOMrEvGEEG1fCN4

